@model Nop.Plugin.Misc.Projects.Domain.Project
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Project/Index">Back to list</a></li>
        
    </ul>
    </nav>
    <div>
        <p>
          
            The Project @Model.Name Saved successfully!
        </p>
    </div>
